.footer {
  text-align:justify;
  padding: 60px;
  background-color: #ffedaf;
}

.footer a {
  font-size: 30px;
  color:  #d72626;
}

.footer p {
  color: #d72626;
}

.footer .fas {
  color: #ffffff;
}

.footer .img-end {
  background-color:aqua;
}

.footer-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: auto;
}

.footer .p {
  position-try-order:unset;
}
